[submodule "src/submodules/bittube-libapp-cpp"]
	path = src/submodules/bittube-libapp-cpp
	url = https://github.com/ipbc-dev/bittube-libapp-cpp
[submodule "bittube-core-js"]
	path = bittube-core-js
	url = https://github.com/ipbc-dev/bittube-core-js
